@import "mixin";

/*================================ MAIN CONTENT =================================*/

/*================================ BANNER =================================*/
.banner {
    background: url('../images/Background-image.png') no-repeat center center/cover;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    // .transpare {
    //     position: absolute;
    //     background: rgba(0, 0, 0, .75);
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 110vh;
    // }
    .banner-background {
        color: $white;
        text-align: center;
        h3 {
            margin-bottom: 1rem;
            &::selection {
                background: $midnight;
            }
        }
        h1 {
            margin-bottom: 2.6rem;
            letter-spacing: .1rem;
            &::selection {
                background: $midnight;
            }
        }
        .myBtn {
            @include myButton;
            background: $sky;
            &:hover {
                background: transparent;
                border: solid 1px $white;
                color: $white;
            }
        }
    }
}
/*================================ END BANNER =================================*/

/*================================ BLOG CAROUSEL =================================*/
.blog {
    background: url('../images/Abract01.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 100%;
    background-size: 65%;

    .blog-post {
        padding-top: 5rem;
        .blog-content {
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 78%;
            margin: 3rem 2rem 3rem 0rem;
            box-shadow: $blog-box-shadow;
            .blog-title {
                padding: 2rem 0;
                .btn-blog {
                    @include blogButton;
                    background: $sky;
                }
                span {
                    display: block;
                }
            }
        }
    }

    .owl-carousel {
        .item {
            img {
                height: 100%;
            }
        }

        .owl-nav {
            position: absolute;
            top: 0%;
            margin: 2rem auto 0;
            width: 100%;
            .owl-prev, .owl-next {
                .owl-nav-prev, .owl-nav-next {
                    color: $text-grey;
                    background: transparent;
                    font-size: 2rem;
                    padding: 0;
                    &:hover {
                        color: $midnight;
                    }
                }
            }
        }
    }
    .owl-theme {
        .owl-nav [class*="owl-"] {
            outline: none;
            &:hover {
                background: transparent;
                color: $midnight;
            }
        }
    }
}
/*===============================x END BLOG CAROUSEL x================================*/

/*================================ SITE CONTENT =================================*/
.site {
    .posts {
        margin-right: 1rem;
        .post-content {
            // margin-bottom: 5rem;
            width: 100%;

            .post-image {
                padding: 1rem 0rem;
                position: relative;

                div {
                    overflow: hidden;
                }

                img {
                    width: 100%;
                    transition: all 1s ease;
                    &:hover {
                        transform: scale(1.3);
                    }
                }
                
                .post-info {
                    background: $sky;
                    padding: 1rem;
                    position: absolute;
                    bottom: 0;
                    left: 18vw;
                    border-radius: 3rem;
                    span {
                        padding: 0 .5rem;
                    }
                }
            }

            .post-title {
                a {
                    font-family: $anton;
                    font-size: 1.5rem;
                    margin-top: 2rem;
                }

                .post-btn {
                    border-radius: 0;
                    padding: .7rem 1.5rem;
                    background: $sky;
                }
            }
        }

        .pagiNation {
            margin: 4rem 0;
            .pagination {
                .page-item {
                    .page-link {
                        color: $text-grey;
                        &:focus {
                            box-shadow: none;
                            outline: none;
                        }
                        .fas {
                            &:hover {
                                color: $midnight;
                            }
                        }
                    }
                }
            }
        }
    }

    .sidebar {
        .category {
            .category-list {
                font-family: $livvic;
                list-style: none;

                .category-item {
                    background: $sky;
                    margin: .8rem 0;
                    padding: .5rem 1rem;
                    border-radius: 3rem;
                    .category-link {
                        color: black;
                    }
                }
            }
        }

        .popular-post {
            h2 {
                padding-top: 7rem;
            }
            .post-content {
                width: 100%;
    
                .post-image {
                    padding: 1rem 0rem;
                    position: relative;
    
                    div {
                        overflow: hidden;
                    }
    
                    img {
                        width: 100%;
                        transition: all 1s ease;
                        &:hover {
                            transform: scale(1.3);
                        }
                    }
                    
                    .post-info {
                        background: white;
                        padding: .4rem .1rem;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        border-radius: 0;
                        span {
                            padding: 0 .5rem;
                        }
                    }
                }
    
                .post-title {
                    a {
                        font-family: $anton;
                        font-size: 1rem;
                        margin-top: 1rem;
                    }
    
                    .post-btn {
                        border-radius: 0;
                        padding: .7rem 1.5rem;
                        background: $sky;
                    }
                }
            }
        }

        .newsletter {
            padding-top: 17.6rem;
            .form-element {
                padding: .5rem 2rem;

                .input-element {
                    width: 100%;
                    padding: .3rem .5rem;
                    font-family: $lexend;
                    font-size: 1rem;
                    &:focus {
                        outline: none;
                    }
                }

                .form-btn {
                    padding: .8rem 32%;
                    border-radius: 0;
                    margin: 1rem 0;
                    background: $sky;
                    width: 100%;
                    font-family: $livvic;
                }
            }
        }

        .popular-tags {
            padding: 5rem 0;
            .tags {
                margin-left: .2rem;
                .tag {
                    background: $sky;
                    padding: .4rem 1rem;
                    border-radius: 3rem;
                    margin: .3rem;
                }
            }
        }
    }
}
/*===============================x END SITE CONTENT x================================*/


/*================================ END MAIN CONTENT =================================*/