/*================================ HEADER =================================*/
.header {
    z-index: 1;
    nav {
        .navbar-brand {
            font-size: 1.6rem;
            font-family: $lexend;
            font-weight: 500;
            &:hover {
                color: $text-grey;
            }
        }

        .navbar-nav {
            .nav-item {
                .nav-link {
                    font-family: $abel;
                    font-size: 1.1rem;
                    font-weight: 500;
                    color: $text-primary;
                    &:hover {
                        background-color: $midnight;
                        color: $white;
                    }
                }
            }

            .nav-item.active {
                .nav-link {
                    background: $midnight;
                    color: $white;
                }
            }
        }

        .social {
            .nav-item {
                &:hover {
                    .nav-link {
                        .fab {
                            color: $social-hover;
                        }
                        &:hover {
                            background: transparent;
                        }
                    }
                }
            }
        }
    }

    .sticky {
        position: fixed;
        width: 100%;
        margin-top: -1px;
        top: 0;
        left: 0;
        background: $white;
        vertical-align: middle;
        z-index: 9999;
        box-shadow: $box-shadow;
        transition: background 1s ease;
    }
}
/*================================ END HEADER =================================*/