* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    overflow-x: hidden;
}

/*========================= GLOBAL CLASSES ===============================*/
a {
    text-decoration: none;
    color: $text-grey;
}
/*========================= END GLOBAL CLASSES ===============================*/